gate/src/main/resources/car.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://car.bp.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="CarServiceService" targetNamespace="http://car.bp.org/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://car.bp.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://car.bp.org/">
            <xs:element name="bookCar" type="tns:bookCar"/>
            <xs:element name="bookCarResponse" type="tns:bookCarResponse"/>
            <xs:element name="cancelBooking" type="tns:cancelBooking"/>
            <xs:element name="cancelBookingResponse" type="tns:cancelBookingResponse"/>
            <xs:element name="getBookingCar" type="tns:getBookingCar"/>
            <xs:element name="getBookingCarResponse" type="tns:getBookingCarResponse"/>
            <xs:complexType name="cancelBooking">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cancelBookingResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:car"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="car">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element name="numberOfSeats" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getBookingCar">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getBookingCarResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:car"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bookCar">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:carBooking"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="carBooking">
                <xs:sequence>
                    <xs:element minOccurs="0" name="car" type="tns:car"/>
                    <xs:element minOccurs="0" name="from" type="tns:point"/>
                    <xs:element minOccurs="0" name="reservationId" type="xs:string"/>
                    <xs:element minOccurs="0" name="to" type="tns:point"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="point">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" type="xs:anySimpleType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bookCarResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:car"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Fault" type="tns:Fault"/>
            <xs:complexType name="Fault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:int"/>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="bookCarResponse">
        <wsdl:part element="tns:bookCarResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part element="tns:Fault" name="Fault"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBookingCarResponse">
        <wsdl:part element="tns:getBookingCarResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelBookingResponse">
        <wsdl:part element="tns:cancelBookingResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelBooking">
        <wsdl:part element="tns:cancelBooking" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBookingCar">
        <wsdl:part element="tns:getBookingCar" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookCar">
        <wsdl:part element="tns:bookCar" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CarService">
        <wsdl:operation name="cancelBooking">
            <wsdl:input message="tns:cancelBooking" name="cancelBooking"> </wsdl:input>
            <wsdl:output message="tns:cancelBookingResponse" name="cancelBookingResponse"> </wsdl:output>
            <wsdl:fault message="tns:Fault" name="Fault"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBookingCar">
            <wsdl:input message="tns:getBookingCar" name="getBookingCar"> </wsdl:input>
            <wsdl:output message="tns:getBookingCarResponse" name="getBookingCarResponse"> </wsdl:output>
            <wsdl:fault message="tns:Fault" name="Fault"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bookCar">
            <wsdl:input message="tns:bookCar" name="bookCar"> </wsdl:input>
            <wsdl:output message="tns:bookCarResponse" name="bookCarResponse"> </wsdl:output>
            <wsdl:fault message="tns:Fault" name="Fault"> </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarServiceServiceSoapBinding" type="tns:CarService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cancelBooking">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="cancelBooking">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cancelBookingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBookingCar">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getBookingCar">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBookingCarResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bookCar">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="bookCar">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bookCarResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarServiceService">
        <wsdl:port binding="tns:CarServiceServiceSoapBinding" name="CarServicePort">
            <soap:address location="http://localhost:8081/soap-api/service/car"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>